apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: avatar1992/backend-service:latest
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_URL
              value: mongodb://mongo:27017/devopsdb
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: node-app
spec:
  selector:
    app: backend
  ports:
    - port: 8080
  type: ClusterIP

